<h1><a href="/">Munch</a></h1>

<form action="/ingredient" method="post">
  <fieldset>
    <legend>Specify your own ingredient</legend>
    <input type="text" name="ingredient" value="<%= @ingredient %>" />
    <button type="submit">
      Search
    </button>
  </fieldset>
  <% unless @ingredient.nil? %>
    <p>Subscribe to <a href="/rss/<%= @ingredient %>">this search</a> <span>(RSS)</span></p>
  <% end %>
</form>

<h2>Search using some predefined ingredients</h2>
<ul>
  <li><a href="/ingredient/chicken">Chicken</a></li>
  <li><a href="/ingredient/lamb">Lamb</a></li>
  <li><a href="/ingredient/egg">Egg</a></li>
  <li><a href="/ingredient/rice">Rice</a></li>
  <li><a href="/ingredient/tomato">Tomato</a></li>
</ul>

<h2>All recipies <span>(<%= @recipes.size %>)</span></h2>
<ul>
<% for recipe in @recipes %>
  <li><a href="<%= recipe["link"] %>"><%= recipe["title"] %></a></li>
<% end %>
</ul>